<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF_8">
        <meta name="viewport" content="width=device-width, initial scale=1,0">
    <title>Traffic Animation</title>
    <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="top-container">
            <img class="skye-img" src="skye.jpg">
            <img src="Aeroplane_2-removebg-preview.png" alt="aeroplane"
            class="aeroplane" width="250px">
            <img src="air-helicopter-removebg-preview.png" alt="helicopter" class="helicopter" width="200px" height="200px">
        </div>
        <div class="element">
            <img class="houses" src="ilustrasion-scene.png" alt="buildings">
            <div class="walk-way">
                <img class="ped-boy" src="pedestrian-boy.png" alt="pedestrian-boy" width="100px" height="100px">
                <img class="ped-woman" src="pedestrian-color-vector-removebg-preview.png" alt="pedestrian-woman" width="170px" height="120px">
            </div>
        </div>
        <div class="road">
            <div class="right-lane">
                <img class="road-1" src="road.jfif" alt="road">
                <img class="taxi-1 taxi-1a" src="download__4_-removebg-preview.png" alt="taxi">
                <img class="bike bike-a" src="download__3_-removebg-preview (1).png" alt="bike" width="100px">
                <img class="taxi-1 taxi-1c" src="download__4_-removebg-preview.png" alt="taxi">
            </div>
            <div class="signs">
                <img class="light-1" src="./206-2064127_selux-discera-street-lights-pinterest-of-modern-street-street-light-removebg-preview.png" alt="lights" width="90px">
                <img class="light-2" src="./206-2064127_selux-discera-street-lights-pinterest-of-modern-street-street-light-removebg-preview.png" alt="lights" width="90px">
                <img class="light-3" src="./206-2064127_selux-discera-street-lights-pinterest-of-modern-street-street-light-removebg-preview.png" alt="lights" width="90px">
                <img class="light-4" src="./206-2064127_selux-discera-street-lights-pinterest-of-modern-street-street-light-removebg-preview.png" alt="lights" width="90px">
                <img class="way-2" src="one_way-removebg-preview.png" alt="sign-p"
            </div>
            <div class="left-lane">
                <img class="road-2" src="road.jfif" alt="road">
                <img class="car" src="sport-car.png" alt="car" width="150px">
                <img class="taxi-2 taxi-2a" src="download__4_-removebg-preview.png" alt="taxi" width="150px">
                <img class="taxi-2 taxi-2b" src="download__4_-removebg-preview.png" alt="taxi" width="150px">
                <img class="bicycle" src="download__3_-removebg-preview.png" alt="bicycle" width="80px">
                <img class="bicycle" src="download__3_-removebg-preview.png" alt="bicycle" width="80px">
                <img class="taxi-2 taxi-2c" src="download__4_-removebg-preview.png" alt="taxi" width="150px">
               
            </div>
        </div>
    </body>
</html>